body {
    background: url(https://images.unsplash.com/photo-1444136723005-b0f64ef04acc?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=4d3578989e74ed05f14d44150f494096);
    background-size: cover;
    background-position: center; 
    opacity: 0.8;
}

body,
html {
    width: 100%;
    height: 100%;
    /*font-family: "Lato";*/
    font-family: 'Merriweather', serif;
    color: white;
}



h1 {
	font-weight: 700;
	font-size: 5em;
}


.content{
	/*padding-top: 25%;*/
    margin-top: 5%;
	text-align: center;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
                 0px 8px 13px rgba(0,0,0,0.1),
                 0px 18px 23px rgba(0,0,0,0.1);
}

/*.navbar-default {
    font-size: 16 !important;
}*/

.container {
    font-size: 15px;
}

hr {
    width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

img {
    /*border-radius: 200%;*/
  /*  width: 100%; 
    height: 100%;
    background-size: 100%;*/
   /* text-align: center;*/

}

.logo {
    /*align-self: center;*/
    padding-top: 40px;
}

.col-md-4 {
    margin-top: 5%;
}

footer{
    bottom: 0;
    position: fixed;
    width: 100%;
}

.footer {
   /* background: blue;*/
    height: 100px;
    margin: auto;
    width: 400px;
    text-align:center;
    font-size: 12px;
    padding:50px;
    /*color:#ffffff;*/
    font-family: 'Merriweather', serif;
}

